.userImage {
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.progressSize {
  width: 150px;
  height: 11px;
}
.progress {
  position: relative;
}
.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 10px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #2C3A47;
  right: 0;
  left: 0;
  top: 1px;;
}
.dropdown-menu {
  width: 250px;
  border-radius: 5%;
}
.userName {
  position: absolute;
  vertical-align: center;
  top: 12px;
}
.topBar {
  width: 100%;
  clear: both;
}
.linkClass {
  color: #007bff !important;
}
.predictionLogo {
  width: 6rem;
}
.dropdownMenu {
  left: auto;
  right: 0;
}
