.leftBarBG {
  background-color: #edeef0;
}
.winnerText {
  color: #83f52c  !important;
}
.loserText {
color: #FF796F !important;
}
.drawText {
  color: #ffc107 !important;
}
.cardsSection {
  height: 81.5vh;
  overflow-y: scroll;
}
.specialHR {
  background: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
  margin-top: 0;
  height: 1px;
  width: 100%;
  border: none;
}
