.leftBarBG {
  background-color: #edeef0;
}
.winnerText {
  color: #83f52c  !important;
}
.loserText {
color: #FF796F !important;
}
.drawText {
  color: #ffc107 !important;
}
.cardsSection {
  height: 84.7vh;
  overflow-y: scroll;
}
