.footballerImage{
  height: 100%;
  width: 100%;
}
.cricketerImage {
  height: 100%;
  width: 100%;
}
.jumbotron {
  background-color: rgba(22, 160, 133,1.0);
  color: #ffffff
}
.jumbotron hr {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  height: 1px;
  border: none
}
.teamLogo {
  max-height: 40px !important;
  max-width: 40px !important;
}
.stadiumLogo {
  height: 30px;
  width: 30px;
}
.sportType {
  height: 40px;
  width: 40px;
  float: right;
}
.stadiumName {
  display: inline;
  top: 12%;
}
.card-header {
  background-color: #e74c3c;
  border: none;
  height: 80px;
}
.middleCardBody {
  height: 140px;
}
.endCardBody {
  height: 100px;
}
.matchCard {
  width: 100%;
}
.todayMatchSectionHR {
  background: linear-gradient(to right, rgba(90,91,98,0), rgba(90,91,98,1), rgba(90,91,98,0));
  border: none;
  height: 1px;
}
::ng-deep owl-carousel-child {
  margin-left: 0px !important;
}
.relative {
  position: relative;
}
.prev {
  position: absolute;
  top: 36%;
  left: -1.5rem;
}
.next {
  position: absolute;
  top: 36%;
  right: -2.5rem;
}
.containerWidth {
  max-width: 100%;
}
